<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Vimdrones Open RTK</title>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'header.html' %}

<div class="container">
    <form action="/change_gps_baud" method="post">
      <div class="form-group">
        <label for="gps_baud">GPS Baud</label>
        <select class="form-control" id="gps_baud" name="gps_baud" value="1">
        {% for baud in GPS_BAUDRATES %}
          <option>{{baud}}</option>
        {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Change</button>
    </form>
</div>


  </body>
</html>
