<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Vimdrones Open RTK</title>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'header.html' %}

<div class="container">
  {% include 'flash.html' %}
  <form action="/settings" method="post">
    <div class="form-group" style="width:200px;">
      <label for="gnss_baud">GNSS Port Baud</label>
      <select class="form-control" id="gnss_baud" name="gnss_baud">
      {% for baud in GNSS_BAUDRATES %}
        <option {{"selected" if baud == gnss_port_baud}}>{{baud}}</option>
      {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
  </form>
</div>


  </body>
</html>
